html,
body {
  font-size: 16px;
  line-height: 1;
  height: 100%;
}

body {
  display: grid;
  place-content: center;
  text-align: center;
}

.counter {
  border: 0.5rem solid #333;
  border-radius: 2rem;
  color: #333;
  font-family: Orbitron, monospace;
  font-size: 6rem;
  display: flex;
  justify-content: center;
  margin: 1rem;
  padding: 2rem;
}
.input {
    border: 0.5rem solid #333;
    border-radius: 2rem;
    color: #333;
    font-family: Orbitron, monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}
.button {
    border: 0.5rem solid #333;
    border-radius: 2rem;
    color: #333;
    font-family: Orbitron, monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
    transition: all 200ms ease;
}
.button:hover {
    border: 0.5rem solid #333;
    border-radius: 2rem;
    background-color: #333;
    color: white;
    font-family: Orbitron, monospace;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    margin: 1rem;
    padding: 1rem;
}
  
  
